<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <filter>
    <filter-name>Myfilter</filter-name>
    <filter-class>com.filter.Myfilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Myfilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <servlet>
    <servlet-name>TestServlet1</servlet-name>
    <servlet-class>com.controller.TestServlet1</servlet-class>
    <init-param>
      <param-name>dddfff</param-name>
      <param-value>DDDFFF</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet1</servlet-name>
    <url-pattern>/con1</url-pattern>
  </servlet-mapping>
</web-app>